<h1>All Studios</h1>

<% @studios.each do |studio| %>
  <h2><%= studio.name %></h2>
  <h4> Location:</h4> <%= studio.location %>
  <div>
  <h4> Movies: </h4>
    <% studio.movies.each do |movie| %>
      <a href="/movies/<%=movie.id%>"><%=movie.title%></a><br/>
      <br/>
    <% end %>
<% end %>

